.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form{
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.form input{
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 6px;
}



.form textarea{
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 8px;
    padding: 6px;
}

.form select{
    border: none;
    border-radius: 8px;
    padding: 6px;
}

.btnWrapp{
    display: flex;
}

.submitBtn{
    background-color: #8bc34a;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: #6fa32c;
    color: white;
}

.redBtn{
    border: 0;
    font-size: 16px;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fb2424;
    margin-top:10px
}
.redBtn:hover{
    background-color: #df5e5e;
    color: black;


}

.error{
    color: red;
}