.expense{
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}

.btn{
    border: 0;
    font-size: 16px;
    color: black;
    padding: 5px 10px;
    border-radius: 14px;
    background-color: #8ed818;

}

.btn:hover{
    background-color: #a2ea2f;
    color: black;

}

@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 20px); /* 2 items per row */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .box {
        flex: 1 1 calc(100% - 20px); /* 1 item per row */
        max-width: calc(100% - 20px);
    }
}
