.navBar{
    /*background-color: #fb9413;*/
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}
.navItem{
    cursor: pointer;
    padding: 6px;
    font-size: 18px;
    color: white;
}